.em_breve{
    color: white;
    display: flex;
    width: 97%;
    height: 80px;
    background-color: #2e7da4;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin-left: 50px;
}